.addpanel{
	display: flex;
	margin-top: 5%;
}
.addpanel-wrapper__textfield{
	width: 70%;
}
.addpanel__textfield{
	width: 100%;
	padding-left: 80%;
}
.addpanel-wrapper__button{
	display: flex;
	justify-content: flex-end;
	width: 30%;
}